{% extends "layout.html" %}
{% block content %}
    <form action="" method=post class="form-horizontal">

    {% if category is defined %}
        <h2>Edit category</h2>
    {% else %}
        <h2>Create new category</h2>
    {% endif %}

    <div class="control-group">

            <div class="control-group">

                <div class="controls">
                        <input type="text" id="category" name="category" maxlength="20" class="input-xlarge form-control"#}
                               placeholder="Please give category"{% if category is defined %} value="{{ category.name }}"{% endif %}
                               autofocus=1 required>
                </div>
            </div>
        </div>
<hr>
     <div class="control-group">
            <div class="controls">
             <button type="submit" class="btn btn-success">
                {% if category %}
                    Save
                {% else %}
                    Create category
                {% endif %}
             </button>
            </div>
        </div>
    </form>
{% endblock %}
